#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.county {
  fill: #ccc;
  stroke: #333;
  stroke-width: 0.5px;
}

/* Only allow hovering on states that aren't active */
:not(.zip) :not(.active):hover {
  fill: beige !important;
}

.tooltip {
  position: absolute;
  pointer-events: none;
  background: white;
  border: 1px solid #999;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.2s;
}

.active {
  fill: wheat;
}

:not(.active) {
  fill: lightgray !important
}

.zip {
  fill: lightslategray !important;
}
